* {
  margin: 0;
  padding: 0;
}

body {
  background: #f5cd48;
}

header {
  width: 100%; /* Establecemos que el header abarque el 100% del documento */
  overflow: hidden; /* Eliminamos errores de float */
  background: #252932;
  margin-bottom: 20px;
}

.wrapper {
  width: 90%; /* Establecemos que el ancho sera del 90% */
  max-width: 1000px; /* Aqui le decimos que el ancho máximo sera de 1000px */
  margin: auto; /* Centramos los elementos */
  overflow: hidden; /* Eliminamos errores de float */
}

header .logo {
  color: #ff5100;
  font-size: 50px;
  line-height: 200px;
  float: left;
}

header nav {
  float: right;
  line-height: 200px;
}

header nav a {
  display: inline-block;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px 20px;
  line-height: normal;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

header nav a:hover {
  background: #f56f3a;
  border-radius: 50px;
}

.header2 {
  position: fixed;
  height: 100px;
}

.header2 .logo {
  line-height: 100px;
  font-size: 30px;
}

.header2 nav {
  line-height: 100px;
}

.contenido {
  padding-top: 100px;
}

.contenido p {
  margin-bottom: 1em;
}

section {
  background: #ffffff;
}

p {
  color: rgb(0, 0, 0);
  text-align: justify;
}

h1 {
  color: rgb(247, 132, 0);
  text-align: center;
}

h3 {
  color: rgb(0, 0, 0);
  text-align: justify;
}

header {
  width: 100%; /* Establecemos que el header abarque el 100% del documento */
  overflow: hidden; /* Eliminamos errores de float */
  background: #252932;
  margin-bottom: 20px;
}

.wrapper {
  width: 90%; /* Establecemos que el ancho sera del 90% */
  max-width: 1000px; /* Aqui le decimos que el ancho máximo sera de 1000px */
  margin: auto; /* Centramos los elementos */
  overflow: hidden; /* Eliminamos errores de float */
}

header .logo {
  color: #f2f2f2;
  font-size: 50px;
  line-height: 200px;
  float: left;
}

header nav {
  float: right;
  line-height: 200px;
}

header nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  line-height: normal;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

header nav a:hover {
  background: #f56f3a;
  border-radius: 50px;
}

.header2 {
  position: fixed;
  height: 100px;
}

.header2 .logo {
  line-height: 100px;
  font-size: 30px;
}

.header2 nav {
  line-height: 100px;
}

@media screen and (max-width: 950px) {
  header .logo,
  header nav {
    width: 100%;
    text-align: center; /*Centramos el menu y el logotipo*/
    line-height: 100px;
  }

  .header2 {
    height: auto;
  }

  .header2 .logo,
  .header2 nav {
    line-height: 50px;
  }
}
